services:
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    networks: 
      - nginx
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/Syncthing/docker/.config/portainer/portainer_data:/data
    ports:
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:9443:9443"
    restart: unless-stopped
  
networks:
  proxy:
    external: true